.footer {
    background: $background;
    padding: 25px 70px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1780px;
        margin: 0 auto;
    }

    &__copy {
        color: #333;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__copy-name {
        color: #333;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__social {
        display: flex;
        gap: 10px;
    }

    &__facebook::before {
        content: url();
        background-image: url(../images/icon-footer/facebook.svg);
        display: inline-block;
        width: 30px;
        height: 30px;
    }

    &__twitter::before {
        content: url();
        background-image: url(../images/icon-footer/twitter.svg);
        display: inline-block;
        width: 30px;
        height: 30px;
    }

    &__linkedin::before {
        content: url();
        background-image: url(../images/icon-footer/linkedin.svg);
        display: inline-block;
        width: 30px;
        height: 30px;
    }

    &__dribble::before {
        content: url();
        background-image: url(../images/icon-footer/dribble.svg);
        display: inline-block;
        width: 30px;
        height: 30px;
    }
}