body,
html {
  overflow-x: hidden;
}

.header {

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 40px 70px 60px 70px;
    align-items: center;


    &__logo {
      display: flex;
      justify-content: center;
      gap: 10px;
      color: #000;
      text-align: center;
      font-family: Gilroy;
      font-size: 35px;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.7px;
    }

    &__logo .reg {
      font-size: 25px;
      position: absolute;
    }

    &__another-txt {
      padding-left: 10px;
      font-family: Gilroy;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    &__menu {
      color: $dark;
      text-align: center;
      font-family: Gilroy;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;


    &__txt {
      color: $dark;
      text-align: center;
      font-family: Gilroy;
      font-size: 138px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    &__txt span {
      display: flex;
      justify-content: center;
      font-weight: 300;
      text-transform: capitalize;
    }
  }

  .title a {
    padding-bottom: 40px;
  }
}

.container {
  background: $background;
}

@import './adaptive'