.main {

    &__hero--img {
        width: 100%;
        height: 956px;
        object-fit: cover;
    }

    .about {
        background: $background;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $dark;
        position: relative;


        &__txt {
            color: $dark;
            font-family: Gilroy;
            font-size: 62px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin: 70px 533px 70px 70px;
        }

        &__txt span {
            font-weight: 800;
        }

        .links {
            background: $dark;
            display: flex;
            padding: 60px 70px 60px 155px;
            flex-direction: column;
            align-items: flex-end;
            gap: 30px;
            position: absolute;
            right: 0px;

            &__txt {
                color: #FFF;
                text-align: right;
                font-family: Gilroy;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                text-transform: uppercase;
            }

            &__wrapper {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;
            }
        }
    }


    .logos {
        border-bottom: 1px solid #252525;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 70px;
        gap: 40px;
        max-width: 1780px;
        flex-wrap: wrap;

        &__icons {
            display: flex;
            height: 70px;
            padding: 0 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            background: #FFF;
        }
    }

    .what-i-do {
        display: flex;
        border-bottom: 1px solid #252525;

        &__img {
            background-image: url(../images/what-i-do.jpg);
            background-repeat: no-repeat;
            width: 980px;
        }

        &__img {
            background-image: url(../images/what-i-do.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 980px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            margin-left: 111px;
        }

        &__headering {
            color: #252525;
            font-family: Gilroy;
            font-size: 150px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            margin-top: 70px;
        }

        &__title-1 {
            color: #000;
            font-family: Gilroy;
            font-size: 44px;
            font-style: normal;
            font-weight: 550;
            line-height: 48px;
            text-transform: uppercase;
            padding-top: 100px;

            &::before {
                content: "01";
                padding-right: 10px;

                color: #000;
                font-family: Gilroy;
                font-size: 44px;
                font-style: normal;
                font-weight: 300;
                line-height: 48px;
                text-transform: uppercase;
            }
        }

        &__title-2 {
            color: #000;
            font-family: Gilroy;
            font-size: 44px;
            font-style: normal;
            font-weight: 550;
            line-height: 48px;
            text-transform: uppercase;
            padding-top: 40px;

            &::before {
                content: "02";
                padding-right: 10px;

                color: #000;
                font-family: Gilroy;
                font-size: 44px;
                font-style: normal;
                font-weight: 300;
                line-height: 48px;
                text-transform: uppercase;
            }
        }

        &__title-3 {
            color: #000;
            font-family: Gilroy;
            font-size: 44px;
            font-style: normal;
            font-weight: 550;
            line-height: 48px;
            text-transform: uppercase;
            padding-top: 40px;

            &::before {
                content: "03";
                padding-right: 10px;

                color: #000;
                font-family: Gilroy;
                font-size: 44px;
                font-style: normal;
                font-weight: 300;
                line-height: 48px;
                text-transform: uppercase;
            }
        }

        &__title-4 {
            color: #000;
            font-family: Gilroy;
            font-size: 44px;
            font-style: normal;
            font-weight: 550;
            line-height: 48px;
            text-transform: uppercase;
            padding-top: 40px;

            &::before {
                content: "04";
                padding-right: 10px;

                color: #000;
                font-family: Gilroy;
                font-size: 44px;
                font-style: normal;
                font-weight: 300;
                line-height: 48px;
                text-transform: uppercase;
            }
        }

        &__description {
            max-width: 760px;
            align-self: stretch;
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;

            border-bottom: 1px solid #252525;
            padding-bottom: 40px;

            &:last-child {
                border: none;
            }
        }
    }

    .selected-work {
        display: flex;
        padding: 70px 0px 100px 0px;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        &__title {
            color: $dark;
            text-align: center;
            font-family: Gilroy;
            font-size: 195px;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 8.48px;
            text-transform: uppercase;
        }

        &__block-works {
            display: grid;
            padding: 0 70px;
            flex-direction: column;
            align-items: center;
            gap: 70px 30px;
            grid-template-columns: repeat(3, 1fr);
        }

        &__clear-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
            position: relative;
        }

        &__name-btn {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px;
        }

        &__name {
            color: #000;
            font-family: Gilroy;
            font-size: 40px;
            font-weight: bold;
            line-height: 44px;
            text-transform: uppercase;
        }

        &__btn-container {
            display: flex;
            gap: 30px;
        }

        &__btn {
            color: $dark;
            font-family: Gilroy;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            display: flex;
            padding: 15px 30px;
            align-items: center;
            border-radius: 50px;
            background: #FFF;
        }

        &__btm-btn {
            color: #FFF;
            font-family: Gilroy;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            display: flex;
            padding: 10px 30px;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background: $dark;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &__img-1,
        &__img-2,
        &__img-3,
        &__img-4,
        img {
            object-fit: cover;
            width: 100%;
            height: 567px;
        }

        &__all-work {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 60px;
            margin-top: 20px;
            border-radius: 50px;
            background: #FFF;
            color: $dark;
            font-family: Gilroy;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .my-clients {
        max-width: 1780px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;

        &__headering {
            display: flex;
            justify-content: center;
            color: #252525;
            font-family: Gilroy;
            font-size: 212px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 8.48px;
            text-transform: uppercase;
            margin: 50px auto;
        }

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-bottom: 100px;
        }

        &__box {
            display: flex;
            flex-direction: column;
            padding: 25px 50px 50px 50px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        &__icon {
            width: 180px;
            height: 40px;
            margin-bottom: 30px;
        }

        &__icon-size {
            width: 84px;
            height: 40px;
        }

        &__title {
            width: 490px;
            color: #333;
            font-family: Gilroy;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 44px;
            margin-bottom: 30px;
        }

        &__description {
            width: 507px;
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 35px;
        }

        &__name-post {
            position: relative;
            padding: 10px;
        }

        &__name {
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            padding-left: 90px;
            margin-bottom: 10px;
        }

        &__post {
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            padding-left: 90px;
        }

        &__post--marketing::before {
            content: url();
            background-image: url(../images/clients/annette.jpg);
            display: inline-block;
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__post--software::before {
            content: url();
            background-image: url(../images/clients/ralph.jpg);
            display: inline-block;
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__post--scrum::before {
            content: url();
            background-image: url(../images/clients/jacob.jpg);
            display: inline-block;
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__post--tester::before {
            content: url();
            background-image: url(../images/clients/cameron.jpg);
            display: inline-block;
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__post--developer::before {
            content: url();
            background-image: url(../images/clients/eleanor.jpg);
            display: inline-block;
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__post--manager::before {
            content: url();
            background-image: url(../images/clients/courtney.jpg);
            display: inline-block;
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__content>.my-clients__box:nth-child(3n) {
            border-right: none;
        }

        &__content>.my-clients__box:nth-child(1n+4) {
            border-bottom: none;
        }
    }

    .our-team {
        display: flex;
        padding: 50px 70px;
        flex-direction: column;
        gap: 50px;
        border-top: 1px solid $dark;

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $dark;
            font-family: Gilroy;
            font-size: 212px;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 8.48px;
            text-transform: uppercase;
        }

        &__client-content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px 40px;
        }

        &__card-1,
        &__card-2,
        &__card-3,
        &__card-4,
        &__card-5,
        &__card-5,
        &__card-6,
        &__card-join {
            padding: 30px 0;
            position: relative;
        }

        &__name {
            color: #333;
            font-family: Gilroy;
            font-size: 25px;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
        }

        &__position {
            color: #333;
            font-family: Gilroy;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 15px;
        }

        &__photo {
            object-fit: cover;
            width: 100%;
            height: 507px;
            padding-bottom: 46px;
            filter: grayscale(100%);
        }

        &__links {
            display: flex;
            align-items: flex-end;
            gap: 10px;
            position: absolute;
            bottom: 31px;
            right: 0;
        }

        &__card-join {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
            grid-area: 2 / 3 / span 2 / span 2;
        }

        &__join-team {
            color: #333;
            font-family: Gilroy;
            font-size: 30px;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }

        &__desire {
            color: #333;
            font-family: Gilroy;
            font-size: 64px;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        &__find-job {
            color: #FFF;
            font-family: Gilroy;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            display: flex;
            padding: 10px 30px;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background: $dark;
        }
    }

    .contact {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;
        padding: 50px 70px 100px 70px;

        &__title {
            color: #333;
            font-family: Gilroy;
            font-size: 155px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
        }

        &__box-team {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__headering {
            max-width: 870px;
            color: $dark;
            font-family: Gilroy;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        &__description {
            max-width: 870px;
            color: $dark;
            font-family: Gilroy;
            font-size: 34px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__btn {
            display: flex;
            padding: 15px 30px;
            width: 139px;
            align-items: center;
            gap: 10px;

            border-radius: 50px;
            background: $dark;

            color: #FFF;
            font-family: Gilroy;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;

            &::after {
                content: "";
                background-image: url(../images/arrow-contact.svg);
                background-repeat: no-repeat;
                display: inline-block;
                width: 25px;
                height: 21px;
                margin-top: 6px;
            }
        }
    }
}

@import './adaptive'