@media (max-width: 1860px) {
  .what-i-do__headering {
    font-size: 90px;
  }

  .my-clients {

    &__content {
      grid-template-columns: 1fr 1fr;
    }

    &__content>.my-clients__box:nth-child(even) {
      border-right: none;
    }

    &__content>.my-clients__box:nth-child(3) {
      border-right: 1px solid #000;
    }

    &__content>.my-clients__box:nth-child(4) {
      border-bottom: 1px solid #000;
    }

    &__headering {
      font-size: 190px;
    }
  }

  .contact {

    &__title {
      font-size: 125px;
      padding-right: 40px;
    }

    &__headering {
      font-size: 54px;
    }
  }
}

@media (max-width: 1200px) {
  .header {

    .title {

      &__txt {
        font-size: 88px;
      }
    }
  }

  .main {

    .about {
      padding: 0;
      border: none;
      flex-direction: column;


      &__txt {
        padding-bottom: 30px;
        font-size: 41px;
        margin: 30px;
        text-align: center;
      }

      .links {
        padding: 40px 30px 40px 0;
        margin: 0;
        left: -28px;
        bottom: -169px;
        width: 100%;
      }
    }

    .logos {
      align-items: flex-start;
      align-content: flex-start;
      margin-top: 169px;
      padding: 40px 30px;
      gap: 20px;
    }

    .what-i-do {
      flex-direction: column;

      &__img {
        width: 1200px;
        height: 991px;
        background-size: cover;
      }

      &__text {
        margin: 0 auto;
      }

      &__headering {
        font-size: 150px;
      }
    }

    .selected-work {
      padding: 30px 0;
      gap: 30px;

      &__title {
        font-size: 140px;
      }

      &__block-works {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 30px;
        gap: 30px;
      }

      &__clear-block {
        height: 209px;
      }

      &__img-1 {
        grid-area: 1/1;
      }

      &__img-2 {
        grid-area: 2/1;
      }

      &__all-work {
        margin-top: 40px;
      }
    }

    .my-clients {
      display: flex;
      flex-direction: column;

      &__headering {
        font-size: 114px;
      }

      &__content {
        grid-template-columns: 1fr;
      }

      &__content>.my-clients__box:nth-child(odd) {
        border-right: none;
      }

      &__content>.my-clients__box:nth-child(5) {
        border-bottom: 1px solid #000;
      }

      &__content>.my-clients__box:last-child {
        border-bottom: none;
      }

      &__title {
        width: 100%;
      }

      &__description {
        width: 100%;
      }
    }

    .our-team {
      padding: 30px 30px 50px 30px;
      gap: 30px;

      &__title {
        font-size: 105px;
      }

      &__client-content {
        grid-template-columns: repeat(2, 1fr);
      }

      &__card-join {
        padding: 0;
        grid-area: 4 / 1 / span 2 / span 2;
      }
    }

    .contact {
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;

      &__box-team {
        align-items: center;
        text-align: center;
      }

      &__title {
        font-size: 125px;
        padding-right: 0;
        padding-bottom: 40px;
      }
    }
  }

  .footer {

    &__container {
      padding: 20px 0;
    }
  }
}

@media (max-width: 768px) {
  .header {

    .top {
      padding: 20px 20px 30px 20px;

      &__hide-on-mobile {
        display: none;
      }
    }

    .title {

      &__txt {
        font-size: 36px;
      }
    }

  }

  .main {

    .about {

      &__txt {
        font-size: 21px;
      }

      &__links {
        padding: 40px 30px 40px 0;
        margin: 0;
        left: -25px;
        bottom: -169px;
      }
    }

    .logos {
      padding: 35px 20px 30px 20px;
      gap: 20px;
    }

    .what-i-do {

      &__img {
        width: 768px;
        height: 768px;
        background-size: cover;
      }

      &__text {
        padding-left: 30px;
        padding-right: 30px;
      }

      &__headering {
        font-size: 80px;
        margin: 20px auto 0px auto;
      }

      &__title-1 {
        padding-top: 40px;
      }
    }

    .selected-work {

      &__title {
        font-size: 50px;
      }

      &__block-works {
        padding: 0 20px;
        gap: 20px;
      }

      &__clear-block {
        height: 198px;
      }

      &__img-1,
      &__img-2,
      &__img-3,
      &__img-4,
      img {
        height: 434px;
      }

      &__all-work {
        margin: 10px 20px 0 20px;
        width: 60%;
      }
    }

    .my-clients {

      &__headering {
        font-size: 50px;
      }
    }

    .our-team {

      &__title {
        font-size: 80px;
      }

      &__client-content {
        grid-template-columns: repeat(1, 1fr);
      }

      &__card-1,
      &__card-2,
      &__card-3,
      &__card-4,
      &__card-5,
      &__card-5,
      &__card-6,
      &__card-join {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__name {
        text-align: center;
      }

      &__position {
        text-align: center;
      }

      &__photo {
        padding-bottom: 15px;
      }

      &__links {
        position: static;
      }

      &__card-join {
        grid-area: 7 / 1;
        align-items: center;
      }

      &__desire {
        font-size: 37px;
        text-align: center;
      }

      &__find-job {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 77%;
      }
    }

    .contact {

      &__title {
        font-size: 80px;
      }

      &__headering {
        font-size: 50px;
      }

      &__description {
        font-size: 30px;
      }

      &__btn {
        width: 378px;
        justify-content: center;
      }
    }
  }

  .footer {

    &__container {
      flex-direction: column;
      gap: 20px;
      padding: 0;
    }
  }
}